sentence_transformers
faiss-cpu
pandas
cloudflare
boto3
dataplane

# unstructured[all-docs]
# requests

fastapi[standard]
uvicorn[standard]
# hypercorn
# opencv-python-headless


# fastapi==0.100.0
# hypercorn==0.14.4


# tabula-py
# gunicorn
# llama-cpp-python
